<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qzw.modules.dao.home.HomeDao" >
	<select id="queryBanner" resultType="map">
	select banner_id, banner_title, banner_img, sort, valid, flag_delete, create_time
	from banner
	where flag_delete = 0
	and valid = 1
	order by sort asc
	</select>
	
	<select id="queryHousePrice" resultType="map">
	select hp_id, price_type, price,
	date_format(publish_date, '%Y-%m-%d') publish_date, create_time
	from house_price
	where price_type = #{price_type}
	and publish_date &gt;= #{dateFrom} 
	order by publish_date asc
	</select>
	
	<select id="queryIntroduce" resultType="map">
	select intr_id, intr_title, introduce, img_small, img_big, sort, valid, flag_delete, create_time
	from introduce
	where flag_delete = 0
	and valid = 1
	order by sort asc
	limit 4
	</select>
	
	<select id="queryLayoutRecommend" resultType="map">
	select lr_id, layout_name1, layout_name2, area, room, hall, lr_desc, 
	lr_img, sort, valid, flag_delete, create_time
	from layout_recommend
	where flag_delete = 0
	and valid = 1
	order by sort asc
	</select>
	
	<select id="queryLayoutOverview" resultType="map">
	select lo_id, lo_title, lo_desc, lo_img, sort, valid, flag_delete, create_time
	from layout_overview
	where flag_delete = 0
	and valid = 1
	order by sort asc
	</select>
	
	<select id="queryInformation" resultType="map">
	select info_id, info_title, info_desc, info_img, sort, valid, flag_delete, create_time
	from information
	where flag_delete = 0
	and valid = 1
	order by sort asc
	limit 4
	</select>
</mapper>














