<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qzw.modules.dao.apartment.EnvironmentDao" >
  <resultMap id="BaseResultMap" type="com.qzw.modules.model.apartment.Environment" >
    <id column="envi_id" property="enviId" jdbcType="INTEGER" />
    <result column="envi_name" property="enviName" jdbcType="VARCHAR" />
    <result column="envi_pic1" property="enviPic1" jdbcType="VARCHAR" />
    <result column="envi_pic2" property="enviPic2" jdbcType="VARCHAR" />
    <result column="envi_pic3" property="enviPic3" jdbcType="VARCHAR" />
    <result column="envi_pic4" property="enviPic4" jdbcType="VARCHAR" />
    <result column="envi_pic5" property="enviPic5" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="flag_delete" property="flagDelete" jdbcType="BIT" />
    <result column="comm_id" property="commId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    envi_id, envi_name, envi_pic1, envi_pic2, envi_pic3, envi_pic4, envi_pic5, create_time, 
    flag_delete, comm_id
  </sql>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from environment
    where envi_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from environment
    where envi_id = #{enviId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qzw.modules.model.apartment.Environment" >
    insert into environment (envi_id, envi_name, envi_pic1, 
      envi_pic2, envi_pic3, envi_pic4, 
      envi_pic5, create_time, flag_delete, 
      comm_id)
    values (#{enviId,jdbcType=INTEGER}, #{enviName,jdbcType=VARCHAR}, #{enviPic1,jdbcType=VARCHAR}, 
      #{enviPic2,jdbcType=VARCHAR}, #{enviPic3,jdbcType=VARCHAR}, #{enviPic4,jdbcType=VARCHAR}, 
      #{enviPic5,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{flagDelete,jdbcType=BIT}, 
      #{commId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qzw.modules.model.apartment.Environment" >
    insert into environment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="enviId != null" >
        envi_id,
      </if>
      <if test="enviName != null" >
        envi_name,
      </if>
      <if test="enviPic1 != null" >
        envi_pic1,
      </if>
      <if test="enviPic2 != null" >
        envi_pic2,
      </if>
      <if test="enviPic3 != null" >
        envi_pic3,
      </if>
      <if test="enviPic4 != null" >
        envi_pic4,
      </if>
      <if test="enviPic5 != null" >
        envi_pic5,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="flagDelete != null" >
        flag_delete,
      </if>
      <if test="commId != null" >
        comm_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="enviId != null" >
        #{enviId,jdbcType=INTEGER},
      </if>
      <if test="enviName != null" >
        #{enviName,jdbcType=VARCHAR},
      </if>
      <if test="enviPic1 != null" >
        #{enviPic1,jdbcType=VARCHAR},
      </if>
      <if test="enviPic2 != null" >
        #{enviPic2,jdbcType=VARCHAR},
      </if>
      <if test="enviPic3 != null" >
        #{enviPic3,jdbcType=VARCHAR},
      </if>
      <if test="enviPic4 != null" >
        #{enviPic4,jdbcType=VARCHAR},
      </if>
      <if test="enviPic5 != null" >
        #{enviPic5,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagDelete != null" >
        #{flagDelete,jdbcType=BIT},
      </if>
      <if test="commId != null" >
        #{commId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qzw.modules.model.apartment.Environment" >
    update environment
    <set >
      <if test="enviName != null" >
        envi_name = #{enviName,jdbcType=VARCHAR},
      </if>
      <if test="enviPic1 != null" >
        envi_pic1 = #{enviPic1,jdbcType=VARCHAR},
      </if>
      <if test="enviPic2 != null" >
        envi_pic2 = #{enviPic2,jdbcType=VARCHAR},
      </if>
      <if test="enviPic3 != null" >
        envi_pic3 = #{enviPic3,jdbcType=VARCHAR},
      </if>
      <if test="enviPic4 != null" >
        envi_pic4 = #{enviPic4,jdbcType=VARCHAR},
      </if>
      <if test="enviPic5 != null" >
        envi_pic5 = #{enviPic5,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagDelete != null" >
        flag_delete = #{flagDelete,jdbcType=BIT},
      </if>
      <if test="commId != null" >
        comm_id = #{commId,jdbcType=INTEGER},
      </if>
    </set>
    where envi_id = #{enviId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qzw.modules.model.apartment.Environment" >
    update environment
    set envi_name = #{enviName,jdbcType=VARCHAR},
      envi_pic1 = #{enviPic1,jdbcType=VARCHAR},
      envi_pic2 = #{enviPic2,jdbcType=VARCHAR},
      envi_pic3 = #{enviPic3,jdbcType=VARCHAR},
      envi_pic4 = #{enviPic4,jdbcType=VARCHAR},
      envi_pic5 = #{enviPic5,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      flag_delete = #{flagDelete,jdbcType=BIT},
      comm_id = #{commId,jdbcType=INTEGER}
    where envi_id = #{enviId,jdbcType=INTEGER}
  </update>
</mapper>