<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qzw.modules.dao.apartment.attr.ApartmentAreaDao" >
  <resultMap id="BaseResultMap" type="com.qzw.modules.model.apartment.attr.ApartmentArea" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="valid" property="valid" jdbcType="TINYINT" />
    <result column="comm_id" property="commId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, value, sort, valid, comm_id
  </sql>

  <sql id="Column_List" >
    id, value
  </sql>

  <select id="getListByCommId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Column_List" />
    from apartment_area
    where comm_id = #{commId,jdbcType=INTEGER}
    and valid = 1
    order by sort desc
  </select>













  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from apartment_area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from apartment_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qzw.modules.model.apartment.attr.ApartmentArea" >
    insert into apartment_area (id, value, sort, 
      valid, comm_id)
    values (#{id,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{valid,jdbcType=TINYINT}, #{commId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qzw.modules.model.apartment.attr.ApartmentArea" >
    insert into apartment_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="commId != null" >
        comm_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=TINYINT},
      </if>
      <if test="commId != null" >
        #{commId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qzw.modules.model.apartment.attr.ApartmentArea" >
    update apartment_area
    <set >
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=TINYINT},
      </if>
      <if test="commId != null" >
        comm_id = #{commId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qzw.modules.model.apartment.attr.ApartmentArea" >
    update apartment_area
    set value = #{value,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      valid = #{valid,jdbcType=TINYINT},
      comm_id = #{commId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>