<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qzw.modules.dao.user.UserMoneyMapper" >
  <resultMap id="BaseResultMap" type="com.qzw.modules.model.user.UserMoney" >
    <id column="um_id" property="umId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="money_type" property="moneyType" jdbcType="VARCHAR" />
    <result column="charge_percent" property="chargePercent" jdbcType="DECIMAL" />
    <result column="charge" property="charge" jdbcType="DECIMAL" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="ad_id" property="adId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    um_id, user_id, money, money_type, charge_percent, charge, balance, ad_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_money
    where um_id = #{umId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_money
    where um_id = #{umId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qzw.modules.model.user.UserMoney" >
    insert into user_money (um_id, user_id, money, 
      money_type, charge_percent, charge, 
      balance, ad_id, create_time
      )
    values (#{umId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{money,jdbcType=DECIMAL}, 
      #{moneyType,jdbcType=VARCHAR}, #{chargePercent,jdbcType=DECIMAL}, #{charge,jdbcType=DECIMAL}, 
      #{balance,jdbcType=DECIMAL}, #{adId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qzw.modules.model.user.UserMoney" >
    insert into user_money
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="umId != null" >
        um_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="moneyType != null" >
        money_type,
      </if>
      <if test="chargePercent != null" >
        charge_percent,
      </if>
      <if test="charge != null" >
        charge,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="umId != null" >
        #{umId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="moneyType != null" >
        #{moneyType,jdbcType=VARCHAR},
      </if>
      <if test="chargePercent != null" >
        #{chargePercent,jdbcType=DECIMAL},
      </if>
      <if test="charge != null" >
        #{charge,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="adId != null" >
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qzw.modules.model.user.UserMoney" >
    update user_money
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="moneyType != null" >
        money_type = #{moneyType,jdbcType=VARCHAR},
      </if>
      <if test="chargePercent != null" >
        charge_percent = #{chargePercent,jdbcType=DECIMAL},
      </if>
      <if test="charge != null" >
        charge = #{charge,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="adId != null" >
        ad_id = #{adId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where um_id = #{umId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qzw.modules.model.user.UserMoney" >
    update user_money
    set user_id = #{userId,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      money_type = #{moneyType,jdbcType=VARCHAR},
      charge_percent = #{chargePercent,jdbcType=DECIMAL},
      charge = #{charge,jdbcType=DECIMAL},
      balance = #{balance,jdbcType=DECIMAL},
      ad_id = #{adId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where um_id = #{umId,jdbcType=INTEGER}
  </update>
</mapper>